<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(content, pageTitle, pageCss, formImage)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle}">Resona AI</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#111111">
    <link rel="apple-touch-icon" href="/assets/app/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Resona">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/onboarding/style.css}">
    <link rel="stylesheet" th:href="@{'/css/onboarding/' + ${pageCss}}">
    <script defer th:src="@{/js/onboarding.js}"></script>
</head>

<body>
<div class="onboarding-wrapper">
    <div class="onboarding-container">

        <div class="onboarding-left">
            <img th:if="${formImage != null}"
                 th:src="@{/assets/onboarding/{img}(img=${formImage})}"
                 alt="1">
        </div>

        <div class="onboarding-right">
            <main th:insert="${content}"></main>
        </div>

    </div>
</div>

</body>
</html>
