<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/onboarding :: layout(~{::content}, #{auth.check_email.title}, 'verification-sent.css', 'step-6.png')}">

<th:block th:fragment="content">
    <div class="sent-content">
        <div class="title-content">
        <h1 th:utext="#{onboarding.sent.heading}">You are all set. Check your email to get the link to your music.</h1>
        <p th:utext="#{onboarding.sent.message}">We've sent a confirmation link to your email address.</p>
        </div>
        <hr>
        <div class="info-box">
            <p class="info-title" th:text="#{auth.no_email.title}">Didn't receive the email?</p>
            <ul>
                <li th:text="#{auth.no_email.spam}">Check your spam or junk folder.</li>
                <li th:text="#{auth.no_email.address}">Make sure you entered the correct email address.</li>
            </ul>
            <a href="/onboarding/resend" class="resend-link" th:text="#{auth.no_email.resend}">Resend the confirmation email</a>
        </div>
    </div>
</th:block>
</html>