<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/onboarding :: layout(~{::content}, #{auth.check_email.title}, 'verification-sent.css', 'step-6.png')}">

<th:block th:fragment="content">
  <div class="sent-content">
    <div class="title-content">
      <h1 th:text="#{auth.confirm.heading}">Confirm your new Email</h1>
      <p><th:block th:text="#{auth.confirm.sent_to}">We’ve sent a confirmation link to</th:block> <strong th:text="${email}">email@example.com</strong>.
        <th:block th:text="#{auth.confirm.check}">Please check your inbox and click on the link to verify your email.</th:block>
      </p>
    </div>
    <hr>
    <div class="info-box">
      <p class="info-title" th:text="#{auth.no_email.title}">Didn't receive the email?</p>
      <ul>
        <li th:text="#{auth.no_email.spam}">Check your spam or junk folder.</li>
        <li th:text="#{auth.no_email.address}">Make sure you entered the correct email address.</li>
      </ul>
      <a href="/onboarding/resend" class="resend-link" th:text="#{auth.no_email.resend}">Resend the confirmation email</a>
    </div>
  </div>
</th:block>
</html>