<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/onboarding :: layout(~{::content}, #{auth.confirmed.title}, 'verification-sent.css', 'step-6.png')}">

<th:block th:fragment="content">
    <div class="sent-content">
        <div class="title-content">
            <h1 th:text="#{auth.confirmed.title}">Email confirmed</h1>
            <p th:text="#{auth.confirmed.message}">Your email has been successfully updated!</p>
        </div>
        <hr>
        <div class="info-box">
            <a href="/settings" class="resend-link" th:text="#{auth.confirmed.back}">Back to Profile</a>
        </div>
    </div>
</th:block>
</html>